.card-container {
  display: flex;
  flex-direction: column;
  background-color: #31b4b4;
  border: 1px solid rgb(42, 174, 214);
  border-radius: 20px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.02);
}
