.card-container {
  display: flex;
  flex-direction: column;
  background-color: #f8d020da;
  border: 2px solid rgb(211, 133, 17);
  border-radius: 20px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.02);
}
